* {
    box-sizing: border-box;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: #57D982;

}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.mainBtns{
    font-weight: bold;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-auto-flow: row;
    justify-items: center;
    gap: 5px;
    padding: 1%;
}

.sendReset{
    display: flex;
    column-gap: 5px;
}


.header{
    text-align: center;
}

button{
    background-color:#7ed9573f;
    border: 1px solid rebeccapurple;
    color: aliceblue;
    border-radius: 10%;
    padding: 4%;
    text-transform: uppercase;
}
button:hover{
    background-color:rgba(240, 248, 255, 0.765);
    color:rebeccapurple;
}
button:disabled{
    background-color: gray;
}

input:invalid:required {
    border: 1px solid #D957CE;
}

input:valid {
    border: 1px solid #7DD957;
}

.board {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.square {
    border: 1px solid rebeccapurple;
    width: 12.5%;
    height: 12.5%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 2s;
}

.square:hover {
  transform: rotate(180deg);
}

.travel{

    background-color: rebeccapurple;
}
.frame{
    display: grid;
    grid-template-columns: 50px 6fr;
}
.leftNums{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    padding-right: 2rem;
}
.buttonNums{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding-top: 1rem;
}
.ind,
.bott{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: larger;
    width: 50px;
    height: 50px;
}