* {
    box-sizing: border-box;
    padding: 0;
}

input:invalid:required {
    border: 1px solid red;
}

input:valid {
    border: 1px solid green;
}

.board {
    display: flex;
    /* flex-flow: column wrap; */
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
}

.square {
    /* background-color: red; */
    border: 1px solid red;
    /* border-collapse: separate; */
    width: 50px;
    height: 50px;
}

.square:hover {
    /* background-color: rebeccapurple; */
}